{:paths ["resources" "src"]
 :deps {ch.qos.logback/logback-classic {:mvn/version "1.5.3"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.2"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        com.zaxxer/HikariCP {:mvn/version "5.1.0"}
        hato/hato {:mvn/version "0.9.0"}
        honeysql/honeysql {:mvn/version "1.0.461"}
        nilenso/honeysql-postgres {:mvn/version "0.4.112"}
        org.apache.poi/poi {:mvn/version "5.2.5"}
        org.apache.poi/poi-ooxml {:mvn/version "5.2.5"}
        org.clojure/clojure {:mvn/version "1.11.2"}
        org.clojure/data.csv {:mvn/version "1.1.0"}
        org.clojure/math.numeric-tower {:mvn/version "0.1.0"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.postgresql/postgresql {:mvn/version "42.7.3"}
        org.slf4j/jcl-over-slf4j {:mvn/version "2.0.12"}
        org.slf4j/jul-to-slf4j {:mvn/version "2.0.12"}
        org.slf4j/log4j-over-slf4j {:mvn/version "2.0.12"}
        org.slf4j/slf4j-api {:mvn/version "2.0.12"}
        org.threeten/threeten-extra {:mvn/version "1.7.2"}
        org.xerial/sqlite-jdbc {:mvn/version "3.45.2.0"}
        ovid/ovid {:git/url "https://github.com/willcohen/ovid"
                   :git/sha "d57154ab06e0e5052f2575f52a8324d1eb20cc5c"}
        seancorfield/next.jdbc {:mvn/version "1.2.659"}}
 :aliases
 {:dev {:extra-paths ["dev"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :depstar
  {:extra-deps {seancorfield/depstar {:mvn/version "0.1.5"}}
   :main-opts ["-m" "hf.depstar.jar" "aurelius.jar"]}
  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "aurelius.jar"]}}}
